
/*  EJERCICIO 1 */
.ej1 .marco {
  border: 2px dashed black;
  width: 380px;
  padding-left: 5px;
  margin: 20px;               
}

.ej1 .marco p {
  font-family: Verdana;                
  margin-bottom: 30px;         
}

.ej1 .contenedor {
  margin: 30px;
  padding: 25px;
  background: green;
  border: 4px double orange;
  width: 250px;
}

.ej1 .contenedor p {
  
    all: revert;
    font-family: Verdana;
    color: yellow;                   
}

/* EJERCICIO 2 */
.ej2 {

  background: pink;
  padding: 30px 0;
  margin-bottom: 30px;
}

.ej2 .lienzo {
  width: 600px;
  margin: auto;
  border: 3px dotted green;
  padding: 40px 40px;
}

.ej2 h1 {
  font-family: Georgia, serif;
  font-size: 1.5rem;
}

.ej2 p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

.ej2 .especial {
  background: blue;               
  border: 3px solid limegreen;
  padding: 8px 12px;
  
}

/* EJERCICIO 3 */

.ej3 {
  display: flex;
  border: 2px dashed black;
  height: 580px;
}

.ej3 .lienzo {
    background-image: url("../img/puppy.jpg");
	  background-repeat: repeat-y;
	  background-position: top left;
    width: 200px;
    min-height: 100%;
}

.ej3 .texto {
  flex: 1;
  padding: 20px;
  text-transform: uppercase;
	letter-spacing: 5px;
}

.ej3 .texto h1 {
    text-transform: none;   
    letter-spacing: normal; 
    font-size: 2rem;
    margin-top: 0;        
}

/* EJERCICIO 4 */

.ej4 {
  border: 2px dashed black;
  padding: 3px 10px 3px 10px;
  width: 600px;
  margin-top: 30px;
}

.ej4 .contenedor {
  border: 2px solid blue;
  background-color: yellow;
  padding: 10px 20px 40px 30px;
  margin: 0px;
}

.ej4 .contenedor p {
  border-left : 3px solid red;
  border-right : 3px solid red;
  background-color: blue;
  color: white;
  margin-bottom: 5px;
}

/* EJERCICIO 5 */
.secundario {
  border: 4px dotted green;
  background-color: orange;
  padding: 25px 15px 15px 5px;
  margin: 20px 20px 5px 20px;
}

.secundario p {
  border-left : 3px solid red;
  border-right : 3px solid red;
  background-color: blue;
  color: white;
  margin-bottom: 5px;
}



